html, body {
    width: 100%;
    height: 100%;
    margin: 0;    
}

* {
    font-family: 'Comic Sans MS'
}

.game-window {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-flow: column;
}

.game-button {
    margin-top: 10px;
    padding: 8px 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
}

    .game-button:hover {
        background-color: #4d8f52;
    }
